@import "../shared/variables.scss";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px 30vw;
  padding-top: 10vh;
  color: $lightBlue;
  font-family: $roboto;
  .title {
    font-weight: 600;
    font-size: $ll + $ll;
    margin-bottom: $ll;
  }
  .todo {
    margin-bottom: $ll;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .element {
        font-size: $l;
        margin-bottom: $m;
      }
      .buttons {
        margin-left: $m;
        .btn-done, .btn-redo, .btn-delete{
          background-color: $lightPurple;
          color: $grey;
          border: 0px;
          border-radius: $s;
          font-size: $m;
          padding: 0px $s;
          margin-left: $m;
        }
      }
    }
  }


}