@import "../shared/variables.scss";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px 30vw;
  padding-top: 10vh;
  color: $white;
  font-family: $roboto;
  .title {
    font-weight: 600;
    font-size: $ll + $ll;
    margin-bottom: $ll;
  }
  .todo {
    margin-bottom: $ll;
    flex-direction: column;
    display: flex;
    align-items: center;
    .list {
      width: 500px;
      .element {
        display: flex;
        justify-content: space-between;
        font-size: $l;
        margin-bottom: $m;
        .buttons {
          max-width: 72px;
          display: flex;
          align-items: center;
          flex-direction: row;
          .btn-done, .btn-redo, .btn-delete{
            cursor: pointer;
            border: 0px;
            border-radius: $s;
            font-size: $m;
            padding: 0px $s;
          }
          .btn-delete {
            color: $red;
          }
        }
      }
    }
  }

  .form {
    position: relative;
    .input {
      padding: $s;
      margin: $m;
      width: 400px;
    }
    .text-error {
      position: absolute;
      left: 25px;
      top: -5px;
      color: $white;
    }
  }
}